.welcomePage
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.uploadButton button
{
    height: 50px;
    width: 150px;
}

.uploadbutton-container
{
    z-index: 10;
    top: 20px;
    height: 25%;

}

.button
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 125px;
    width: 150px;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form-button-container
{
    display: flex;
    flex-direction: row;
    gap : 20px;
    margin-top: 10px;
}

.subject-button-container
{
    display: flex;
    gap : 20px;
    margin-top: 20px;
    width: 80%;
}

#forms, #subjects
{
    padding: auto;
}